@import '../../../styles/variables';

.input {
    font-family: var(--font-principal);
    width: 20rem;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    border: none;
    border: 0.1rem solid $color-secondary;
    font-size: 1rem;
    color: $color-black;

    &:focus {
        outline: none;
    }
}

@media (max-width: 600px) {
    .input{
        width: 15rem;
    }
}
