.container{
    margin: 1rem 0;

    .containerCards {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .container{
        .containerCards{
            justify-content: center;
        }
    }
}